@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  
}
.header-desktop{
  position: relative;
  z-index: 1000;
  width: 100%;
  background: #1e3c72; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-wrap: wrap;
}
.header-desktop>.logo-socialmedia{
  width: 100%;
}
.header-desktop>.logo-socialmedia>.logo{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.header-desktop>.logo-socialmedia>.logo h1{
  color: aliceblue;
  letter-spacing: 5px;
  margin-left: 20px;
}
.header-desktop>.logo-socialmedia>.logo>img{
  width: 75px;
  z-index: 1000;
}
.header-desktop>.logo-socialmedia>.socialmedia{

}
.nav-menu-desktop{
  width: 100%;
}
.nav-menu-desktop ul{
  display: flex;
  width: 100%;
  justify-content: center;
  list-style: none;
  margin-bottom: 3px;
}
.nav-menu-desktop ul li{
  margin: 10px 30px;
  position: relative;
}
.nav-menu-desktop ul li a{
  text-decoration: none;
  font-family: 'Oswald';
  font-size: 1.5rem;
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  display: block;
}
.nav-menu-desktop ul li a:hover{
  color: #2a5298;
  background-color: aliceblue;
}
.nav-menu-desktop ul li:hover .submenu-menu{
  display: inline-block;
}
.nav-menu-desktop ul li .submenu-menu{
  display: none;
  position: absolute;
  background-color: #2a5298;
  position: absolute;
  width: 300px;
}
.panel-btn{
  position: fixed;
  z-index: 1100;
  bottom: 1vw;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a5298;

}
.header-mobile {
  background: #1e3c72; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  transform: translate(0,-100%);
  position: relative;
  transition: 0.8s ease-in-out all;
  position: fixed;
  z-index: 1000;
}
.header-mobile .nav-menu {
  width: 100%;
  height: 50vh;
  position: relative;
}
.header-mobile .nav-menu li {
  list-style: none;
  position: relative;
}
.header-mobile .nav-menu li a {
  padding: 15px 15px;
  text-decoration: none;
  color: aliceblue;
  font-family: "Oswald";
  letter-spacing: 5px;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Línea blanca tenue */
}
.is-active{
  transform: translate(0,0);
}
.submenu {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  position: absolute; /* Posiciona el submenú fuera del flujo normal */
  top: 100%; /* Coloca el submenú debajo del elemento padre */
  left: 0;
  width: 100%; /* Puedes ajustar el ancho */
  transition: max-height 0.5s ease, opacity 0.5s ease;
  z-index: 1; /* Asegura que el submenú quede encima de otros elementos */
  background: #6190e8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a7bfe8,
    #6190e8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a7bfe8,
    #6190e8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.submenu li a {
  background-color: #6551e3;
}

.submenu li a:hover {
  background-color: #0f190d;
}

.nav-menu li:hover .submenu {
  display: block;
  max-height: 300px; /* Ajusta según el contenido */
  opacity: 1;
}

.nav-menu li:hover .submenu li a {
  padding: 8px 12px; /* Espacio dentro del submenú */
}
@media (min-width:0px) and (max-width:599px) {
  .header-desktop{
    display: none;
  }
}
@media (min-width: 600px) and (max-width:900px){
  .panel-btn{
    display: none;
  }
  .header-mobile{
    display: none;
  }
}
@media (min-width:901px) {
  .panel-btn{
    display: none;
  }
  .header-mobile{
    display: none;
  }
}