@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.barra {
  background: #1e3c72; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px;
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;
}
.barra > h1 {
  font-family: "Kanit";
  color: aliceblue;
}
.nav-plantillas{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
}
.card {
  width: 90%;
  height: 350px;
  border-radius: 10px;
  margin: 10px 10px;
  position: relative;
  overflow: hidden;
  border: #2a5298 5px solid;
}
.card>.card-info{
      left: 10px;
      top: 10px;
}
.card>a{
    position: absolute;
    z-index: 200;
    bottom: 3vh;
    right: 10px;
    text-decoration: none;
    background-color: rgb(28, 31, 224);
    color: aliceblue;
    font-family: 'Roboto';
    padding: 10px;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}
.card>a:hover{
    background-color: rgb(124, 51, 233);
    padding: 15px;
}
.card-info {
  position: absolute;
  z-index: 200;
  color: black;
}
.card img {
  width: 100%;
  position: absolute;
  z-index: 100;
  height: fit-content;
}
section{
  width: 100%;
  background-color: #1e3c72;
  height: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.cards-jugadores{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #2a5298;
  flex-wrap: wrap;
}
.card-jugador{
  min-width: 300px;
  height: 450px;
  background-color: aliceblue;
  margin: 10px 10px;
  border-radius: 10px;
}